.navbar .navbar-nav .nav-item .nav-link {
    padding-right: 2em;
    padding-left: 2em;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    min-width: 100%;
}

.floating-label {
    position: relative;
    padding-top:2em;
}

.floating-label label {
    position: absolute;
    padding: .375rem .75rem;
    top: 2em;
    left:0;
}

.floating-label input:focus + label, .floating-label input:not(:placeholder-shown) + label {
    top:calc(2em - 30px);
    padding:0;
}



