.navbar .navbar-nav .nav-item .nav-link {
    padding-right: 2em;
    padding-left: 2em;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    min-width: 100%;
}

.floating-label {
    position: relative;
    padding-top:1.5em;
}

.floating-label label {
    position: absolute;
    padding: .375rem .75rem;
    top: 1.5em;
    left:0;
    transition: all .2s;
    color:rgba(33,37,41,.7);
    cursor:text;
}

.floating-label input:focus + label, .floating-label input:not(:placeholder-shown) + label {
    top:0;
    color:#212529;
    padding:4px;
    font-size:14px;
}

form .form-group:not(:last-of-type) {
    margin-bottom: 0;
}



